.btn {

    &,
    &:link,
    &:visited {
        border-radius: 10rem;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400;
        padding: 1.5rem 4rem;
        display: inline-block;
        position: relative;
        font-size: $default-font-size;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0rem 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0rem .5rem 1rem rgba($color-black, .2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--white {
        color: $color-grey-dark;
        background-color: $color-white;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        color: $color-white;
        background-color: $color-primary;

        &::after {
            background-color: $color-primary;
        }
    }

    &--animation {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {

    &:link,
    &:visited {
        color: $color-primary;
        text-decoration: none;
        display: inline-block;
        padding: 3px;
        font-size: $default-font-size;
        border-bottom: 1px solid $color-primary;
        transition: all .2s;
    }

    &:hover {
        color: $color-white;
        background-color: $color-primary;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}