.feature-box {
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba($color-white, .8);
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    border-radius: 3px;
    padding: 2.5rem;
    transition: transform .3s;

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon {
        font-size: 6rem;
        display: inline-block;
        background-image: linear-gradient(to right,
                $color-primary-light,
                $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: .5rem;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}